.dark-color{
 color: #473122
}
.font-weight-500{
  font-weight:500
}
.inputStyle{
  width: 100%;
  background: #fdf8f4;
  border-color: transparent;
  color: #d0bbae;
  padding: 15px 20px 15px 20px;
  font-size:15px;
  border:1px solid transparent

}
.inputDiv{
  width: 100%;
  background: #fdf8f4;
  display: flex;
  flex-flow: column-reverse;
}

.inputStyle:focus {
  outline: 0;
  border:1px solid #03A9F4
}

::placeholder { 
  color: #a3a2a2;
}
.card{
  border-radius: 15px;
  border:1px solid #ecded5;
  padding:30px
}
.card-heading{
  font-size: 15px;
  color: #473122;
  font-weight: 500;
}
.addBatchButton{
  background:#eb902d;
  border-radius:8px;
  height: 28px;
  width: 28px;
}
.addIcon{
  color: #473122;
  font-weight:500;
  align-self: center;
}
.addBarButton{
  background:#eb902d;
  border-radius:6px;
  height: 18px;
  width: 18px;
}

/* input */

form {
  margin: 2em 0;
}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/
label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

label {
  text-transform: uppercase;
  font-size: 9px;
  padding-left: 10px;
  margin-bottom: -19px;

}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.1em) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}