.dark-color{
 color: #473122
}
.font-weight-500{
  font-weight:500
}
.inputStyle{
  width: 100%;
  background: #fdf8f4;
  border-color: transparent;
  color: #d0bbae;
  padding: 15px 20px 15px 20px;
  font-size:15px;
  border:1px solid transparent

}
.inputDiv{
  width: 100%;
  background: #fdf8f4;
  border-radius: 30px;

}

.inputStyle:focus {
  outline: 0;
  border:1px solid #03A9F4
}

::placeholder { 
  color: #a3a2a2;
}
.card{
  border-radius: 15px;
  border:1px solid #ecded5;
  padding:30px
}
.card-heading{
  font-size: 15px;
  color: #473122;
  font-weight: 500;
}
.addBatchButton{
  background:#eb902d;
  border-radius:8px;
  height: 28px;
  width: 28px;
}
.addIcon{
  color: #473122;
  font-weight:500;
  align-self: center;
}
.addBarButton{
  background:#eb902d;
  border-radius:6px;
  height: 18px;
  width: 18px;
}